
body, html{
  box-sizing: border-box;
  word-break: break-word;
  scroll-behavior: smooth;

  margin: 0;
  padding-left: 0;

  color: white;
  background-color: transparent;
}
html{
  background-color: black;
}
hr{
  width: 0%;
  margin-inline: auto;
  border: 3px solid #141414e0;
  border-radius: 4px;
  opacity: 0;

  transition: width .5s .5s;
}
a{
  text-decoration: none;
  color: white;
}

/*     Scrollbar     */
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: rgba(255, 255, 255, .1);
}
::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background-image: linear-gradient(45deg, #00aeff, #9146FF);
}