/*!       Video       */
#bg_video {
  min-width: 100%;
  min-height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/*!       Header       */
header{
  text-align: center;


}
header h1{
  font-family: "Chakra Petch", sans-serif;
  margin-top: 10rem;
  font-weight: 700;
  font-size: 7rem;
}
header h2{
  font-family: "Caveat", cursive;
  font-style: italic;
  font-size: 4rem;
}

/*!       Main       */
main {
  color: white;
  text-align: center;
}

/*     Gombok     */
.download {
  width: 12rem;
  text-align: center;

  background-color: #cc0030;
  /*background-image: url(../IMG/fu.png);
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);*/
  border-radius: 20px;
  transition-duration: 0.5s;

  margin-left: 1rem;
  margin-bottom: 1rem;
}
.download:hover {
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.2);
}

.win {
  margin-top: 5rem;
}
.win,
.mac,
.lin {
  display: block;
  margin-inline: auto;
}

.download_icon {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;

  margin-inline: 15px;

  --down_icon_size: 3rem;
  height: var(--down_icon_size);
  width: var(--down_icon_size);
  padding-top: 1.5rem;
}
.download_p {
  color: white;
  margin-left: 1rem;
  font-size: 1.3rem;
}

/*     Icons     */
.win_icon {
  background-image: url(../IMG/win_icon.png);
}
.mac_icon {
  background-image: url(../IMG/mac_icon.png);
}
.lin_icon {
  background-image: url(../IMG/lin_icon.png);
}

/*!       Footer       */
footer {
  position: absolute;
  bottom: 0;
  line-height: 1.5rem;
  font-size: 80%;
  width: 100%;
  background-color: rgba(40, 40, 40, 0.3);
}
#footer_table {
  width: 100%;
}
footer p {
  color: white;
  margin: 0;
}
#foot_left {
  margin-left: 1rem;
}
#foot_right {
  margin-right: 1rem;
  text-align: right;
}

/*!       500px       */
@media screen and (max-width: 500px) {
  footer {
    display: none;
  }
}
