.hamToggle{
  display: block;
  position: fixed;
  top: 40px;
  right: 40px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

.hamToggle a{
 text-decoration: none;
 color: #232323;
 
 transition: color 0.3s ease;
}

.hamToggle input{
 display: block;
 width: 40px;
 height: 32px;
 position: absolute;
 top: -7px;
 left: -5px;
 
 cursor: pointer;
 
 opacity: 0; /* hide this */
 z-index: 2; /* and place it over the hamburger */
 
 -webkit-touch-callout: none;
}
.hamToggle span{
 display: block;
 width: 33px;
 height: 4px;
 margin-bottom: 5px;
 position: relative;
 
 background: #141414cc;
 border-radius: 3px;
 
 z-index: 1;
 
 transform-origin: 4px 0px;
 
 transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
             background 0.4s cubic-bezier(0.77,0.2,0.05,1.0),
             opacity 0.55s ease;
}


.hamToggle span:first-child{
 transform-origin: 0% 0%;
}
.hamToggle span:nth-last-child(2){
 transform-origin: 0% 100%;
}

.hamToggle input:checked ~ span{
 opacity: 1;
 transform: rotate(45deg) translate(-2px, -1px);
 background: #141414cc;
}
.hamToggle input:checked ~ span:nth-last-child(3){
 opacity: 0;
 transform: rotate(0deg) scale(0.2, 0.2);
}
.hamToggle input:checked ~ span:nth-last-child(2){
 transform: rotate(-45deg) translate(0, -1px);
}

.hamToggle:hover > span{
   background-color: #14141488;
}
.hamToggle input:checked:hover ~ span{
   background-color: #14141488;
}

.ham{
 position: absolute;
 /*top: 45px;
 right: -12px;*/
 top: -30px;
 right: 50px;
 padding-left: 0;

 display: flex;
 flex-direction: row;


 list-style-type: none;
 -webkit-font-smoothing: antialiased;
 
 transform-origin: 0% 0%;
 transform: translate(500px, 0);
 
 transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.ham li{
   margin-right: 11px;
   padding: 1rem;
   background: #14141473;
   border-radius: 15px;
   transition: all .5s;

   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.ham_img{
   width: 40px;
   transition: all .5s;
}
.ham li:hover{
 background-color: #14141441;
 scale: 1.1;
}
.ham_img:hover{
   scale: 1.2;

}


/*And let's slide it in from the left*/
.hamToggle input:checked ~ ul{
 transform: none;
}