/*!       General       */
html, body{
    box-sizing: border-box;
    word-break: break-word;
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    font-family: Bahnschrift;
    text-align: justify;
    background-color: rgb(29, 29, 29);
}
.color{
    color: #043616;
}
a{
    cursor: pointer;
    text-decoration: none;
}

/*     Scrollbar     */
::-webkit-scrollbar {
    display: none;
}

/*!       Header       */
header{
    background-color: rgba(180, 180, 180, 0.4);
    border-radius: 20px;
    align-items: center;
    position:fixed;
    --header_faltól: 1rem;
    right: var(--header_faltól);
    top: var(--header_faltól);
}
#header_ul{
    display: flex;
    list-style: none;
    padding-inline-start: 0;
}
.header_icon{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;

    margin-inline: 15px;

    --icon_size: 35px;
    height: var(--icon_size);
    width: var(--icon_size);
    padding-left: 1.5rem;

    transition-duration: .5s;
}
.header_title{
    transition-duration: .5s;
    font-size: 0%;
    opacity: 0;
    display: block;
    margin: auto;
    text-align: center;
    color: white;
}
.header_title_span{
    background-color: #cc0030;
    border-radius: 10px;
    padding: 0.2rem;

}
.header_icon:hover{
    height: calc( var(--icon_size) * 1.5);
    width:  calc( var(--icon_size) * 1.5);
}
.header_icon:hover + .header_title{
    font-size: 1rem;
    opacity: 1;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
}

/*!       WIP       */
/*     Checbox     */
/*.container {
    cursor: pointer;
}
#eye {
    display: none;
}
.checkmark {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;

    margin-inline: 15px;

    --icon_size: 35px;
    height: var(--icon_size);
    width: var(--icon_size);
    padding-left: 1.5rem;
    background-image: url(../IMG/hide.png);
}
#eye:checked ~ .checkmark {
    background-image: url(../IMG/view.png);
}
#eye:empty ~ .color{
    color: #043616;
}
#eye:checked ~ .color{
    color: white;
}*/
/*!       WIP       */

/*     Icons     */
.google_drive_icon{
    background-image: url(../IMG/Google_Drive_icon.png);
}
.github_icon{
    background-image: url(../IMG/Git_Hub_icon.png);
}
.docx_icon{
    background-image: url(../IMG/docx_icon.png);
}
.home_icon{
    background-image: url(../IMG/Home_icon.png);
}
/*     Léc a header-nek     */
#spacer{
    height: 72px;
}

/*!       Nav       */
nav{
    float: left;
    width: 13rem;
    height: 200%;
    text-align: center;
    
}
nav ul{
    list-style: none;
    padding-inline-start: 0;
    position:sticky; 
    top:1rem;
}
nav li{
    line-height: 2.8rem;
    font-size: 1.5rem;
}
nav span{
    padding: 0.4rem;
    background-image: url(../IMG/fal.png);
    border-radius: 5px;
}
nav a{
    /*color: #043616;*/
    text-decoration: none;
    color: white;
}


/*!       Main       */
:root{
    --text_in: 1rem;
}
main{
    float: left;
    width: 80%;
}
h1{
    text-align: center;
    font-size: 2.5rem;
    color: white;
}
.namecard_bg{
    background-image: url(../IMG/fu.png);
    background-size: 6%;
    border-radius: 2.5rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.301);
}
hr{
    background-image: url(../IMG/fal.png);
    display: block;
    height: 25px;
    width: 90%;
    border: 0;
    border-radius: 5px;
    --hr_margin: 1.5rem;
    margin-top: var(--hr_margin);
    margin-bottom: var(--hr_margin);
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.301);
}
.name{
    margin-bottom: 0.2rem;
    margin-left: calc(1 * var(--text_in));
}
.task{
    margin-top: 0.2rem;
    margin-left: calc(2 * var(--text_in));
}
.h3_title{
    margin-bottom: 0.2rem;
    margin-left: calc(2 * var(--text_in));
}
main p{
    margin-top: 0.2rem;
    margin-left: calc(3 * var(--text_in));
    margin-right: calc(2 * var(--text_in))
}
#bence{
    margin-bottom: 2rem;
}

/*!       Footer       */
footer{
    float: left;
    line-height: 1.5rem;
    font-size: 80%;
    width: 100%;
    background-color: rgba(40, 40, 40, 0.8);
}
#footer_table{
    width: 100%;
}
footer p{
    color: white;
    margin: 0;
}
#foot_left{
    margin-left: 1rem;
}
#foot_right{
    margin-right: 1rem;
    text-align: right;
}

/*!       1100px       */
@media screen and (max-width: 1100px){
    #header_ul{
        display: block;
    }
    .header_icon{
        margin-inline: .5rem;

        margin-top: .6rem;
        margin-bottom: .6rem;
    }
    nav{
        display: none;
    }
    main{
        width: 80%;
        margin-inline: 6%;
    }
}

/*!       900px       */
@media screen and (max-width: 900px){
    header{
        background-color: rgba(180, 180, 180, 0.6);
        position: absolute;
    }
    #header_ul{
        display: flex;
    }
    .header_icon{
        margin-inline: .5rem;

        margin-top: 0;
        margin-bottom: 0;
    }
    h1{
        margin-left: 10%;
        text-align: left;
        font-size: 2rem;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    main{
        width: 94%;
        margin-inline: 0;
        margin-left: 3%;
        margin-right:10%;
    }
}

/*!       700px       */
@media screen and (max-width: 700px){
    .header_spacer{
        height: 5rem;
    }
    h1{
        text-align: center;
        margin-left: 0;
    }
}

/*!       500px       */
@media screen and (max-width: 500px){
    footer{
        display: none;
    }
}